
<h1> Stupid coaching </h1>

<div>
  <h2> <%= @question %> </h2>
  </div>
<p> You </p>
<div>
  <h2> <%= @answer %>  </h2>
</div>
<p> Your coach </p>
<h3> <%= link_to "Ask a new question", ask_path %> </h3>

