<h1 class="coach"> Stupid coach </h1>
<form action="/answer" method="get">
  <input class="text" type="text" name="question" placeholder="What's your question?">
  <input class="submit" type="submit" value="Ask!">
</form>
